*{
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

/*SCROLLBAR*/

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: #1A1A1A;
}

::-webkit-scrollbar-thumb{
  background: #ADADAD40;
  border-radius: 25px;
}

html{
  scroll-behavior: smooth;
  /*overflow-x: hidden;*/
}

.container{
  background-color: #1E1E1E;
}

/*HEADER*/

.header-nav{
  padding: 8px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 12px 0px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #121212;
}

@media only screen and (max-width: 576px){
  .header-nav{
    padding: 8px 32px;
  }
}

.letter-logo{
  font-size: 35px;
  text-align: center;
  line-height: 100%;
  background: rgb(244,102,104);
  background: 
    linear-gradient(
      135deg, 
      rgba(244,102,104,1) 0%, 
      rgba(237,142,79,1) 16%, 
      rgba(254,254,21,1) 33%, 
      rgba(22,182,155,1) 50%, 
      rgba(116,222,254,1) 66%, 
      rgba(60,148,220,1) 83%, 
      rgba(125,95,158,1) 100%
    );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

@media only screen and (max-width: 768px){
  .letter-logo{
    font-size: 30px;
  }
}

.img-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.nav-box{
  display: flex;
}

@media only screen and (max-width: 960px) {
  .nav-box{
    display: none;
  }
}

.link-nav{
  padding: 12px 15px;
  margin: 8px;
  font-size: 15px;
  color: #F5F8FF;
  text-decoration: none;
  transition: 0.3s;
}

.link-nav:hover{
  color: #A0A0A0;
}

.resume{
  padding: 12px 20px;
  margin: 8px 0 8px 12px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  background-color: #222222;
  color: #F5F8FF;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.resume:hover{
  outline: 1px solid #AAA;
}

.fa-bars{
  display: none;
  margin: 8px 0 8px 8px;
  padding: 12px;
  font-size: 25px;
  background: none;
  color: #F5F8FF;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.fa-bars:hover{
  color: #A0A0A0;
}

@media only screen and (max-width: 960px) {
  .fa-bars{
    display: inline-block;
  }
}

/*MENU-MOBILE*/

.menu-container{
  height: calc(100% - 81px);
  width: 100%;
  right: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A1A1A;
  position: fixed;
  z-index: 9;
  transition: all 0.8s ease;
}

.menu-on{
  transition: all 0.8s ease;
  right: 0;
}

.menu-container ul{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-container ul li{
  width: 100%;
  list-style: none;
  display: flex;  
  align-items: center;
  justify-content: center;
}

.menu-container ul li a{
  width: 100px;
  text-align: center;
  padding: 12px 20px;
  margin: 0 12px;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link-menu{
  color: #F5F8FF;
}

.link-menu:hover{
  color: #A0A0A0;
}

.menu-resume{
  border-radius: 5px;
  background-color: #222222;
  color: #F5F8FF;
}

.menu-resume:hover{
  outline: 1px solid #AAA;
}

/*I AM*/

.iam-container{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #1A1A1A;
  color: #F5F8FF;
}

@media only screen and (max-width: 576px){
  .iam-container{
    padding: 16px 12px;
  }
}

.iam-box{
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 8;
}

.iam-box header h1{
  line-height: 1.2;
  margin-bottom: 16px;
  font-size: 60px;
}

.iam-box header h2{
  line-height: 1.2;
  margin-bottom: 12px;
  font-size: 45px;
}

.iam-box p{
  margin: 10px 0;
  font-size: 20px;
}

.resume-mobile{
  display: none;
}

@media only screen and (max-width: 768px){
  .resume-mobile{
    width: 80px;
    padding: 14px 22px;
    margin: 15px 0px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    background-color: #222222;
    color: #F5F8FF;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .resume-mobile:hover{
    color: #F5F8FF;
    outline: 1px solid #F5F8FF;
  }
}

.iam-img{
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.iam-img::after{
  content: '';
  position: absolute;
  border-radius: 54% 46% 38% 62% / 66% 55% 45% 34% ;
  background-color: #121212;
  height: 105%;
  width: 100%;
  z-index: 1;
}

.iam-img img{
  margin: 10px;
  width: 350px;
  z-index: 7;
}

@media only screen and (max-width: 576px){
  .iam-img img{
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .iam-container{
    grid-template-columns: 100%;
  }
}

/*ABOUT*/

.about-container{
  padding: 30px;
  background-color: #1A1A1A;
  color: #F5F8FF;
}

.about-container header{
  padding: 0px 20px;
}

.about-container header h2{
  margin-bottom: 10px;
  font-size: 35px;
}

.about-container p{
  max-width: 72ch;
  padding: 20px;
  margin: 0 0 8px 0;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 576px){
  .about-container{
    padding: 12px;
  }

  .about-container p{
    width: auto;
  }
}

/*EXPERIENCE*/

.experience-container{
  padding: 30px;
  background-color: #1A1A1A;
  color: #F5F8FF;
}

.experience-container::before{
  content: '';
  background-color: #121212;
  height: 90%;
  width: 100%;
  top: 10;
  left: 0;
  position: absolute;
  transform: skewY(10deg);
}

.experience-container header{
  padding: 0px 20px;
  position: relative;
}

.experience-container header h2{
  margin-bottom: 10px;
  font-size: 35px;
}

.experience-box{
  padding: 20px;
  position: relative;
}

.experience-box li{
  margin-bottom: 5px;
  padding: 10px 0px;
  list-style: none;
}

.experience-title{
  padding: 8px 8px 8px 0px;
  margin-bottom: 10px;
  width: fit-content;
  display: flex;
  align-items: baseline;
  text-decoration: none;
}

.experience-title:hover{
  text-decoration: 1px #DADADA underline;
}

.fa-trophy{
  color: #FDFD15;
}

.fa-users{
  color: #3C94DC;
}

.fa-robot{
  color: #F46668;
}

.fa-motorcycle{
  color: #16B59A;
}

.fa-medal{
  color: #7D5F9E;
}

.experience-title span{
  font-size: 22px;
}

.experience-title h4{
  padding: 0px 12px;
  color: #F5F8FF;
  font-size: 22px;
}

.experience-title p{
  font-size: 18px;
  color: #B4B4B4;
}

.experience-details{
  margin-bottom: 8px;
  font-size: 20px;
}

.experience-details p{
  max-width: 70ch;
}

.experience-details p a{
  color: #F5F8FF;
}

@media only screen and (max-width: 576px){
  .experience-container{
    padding: 12px;
  }

  .experience-box{
    width: auto;
  }
}

/*PROJECTS*/

.projects-container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #1A1A1A;
  color: #F5F8FF;
}

@media only screen and (max-width: 576px) {
  .projects-container{
    padding: 12px;
  }
}

.projects-container header{
  padding: 0px 20px;
}

.projects-container header h2{
  margin-bottom: 10px;
  font-size: 35px;
  position: relative;
}

.projects-box{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .projects-box{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .projects-box{
    grid-template-columns: repeat(1, 1fr);
  }
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 12px 35px -25px rgba(0, 0, 0, 0.42);
  background-color: rgba(0, 0, 0, 0.06);
}

.card:hover{
  outline: 1px solid rgba(255, 255, 255, 0.22);
  box-shadow: 0px 12px 35px -25px rgba(0, 0, 0, 0.8);
}

.card-body{
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: #F5F8FF;
  text-decoration: none;
}

.card h5{
  margin-bottom: 10px;
  font-size: 22px;
}

.card p{
  line-height: 1.1;
  margin-bottom: 12px;
  font-size: 18px;
}

.technologies{
  display: flex;
  margin-bottom: 10px;
}

.technologies li{
  list-style: none;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.technologies li img{
  height: 18px;
}

.card-img{
  height: 200px;
  display: flex;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.card-img img{
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.card-link{
  display: flex;
  align-self: flex-end;
  padding: 0 15px 15px 0;
}

.card-link a{
  margin: 0 6px;
  padding: 5px;
  font-size: 22px;
  text-decoration: none;
  color: #F5F8FF;
  transition: 0.3s;
}

.card-link a:hover{
  color: #A0A0A0;
}

.more{
  margin: 10px;
  padding: 14px;
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 16px;
  background-color: none;
  color: #B5B5B5;
  outline: 1px solid #B5B5B5;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.more:hover{
  outline: 1px solid #F5F8FF;
  color: #F5F8FF;
}

.more span{
  padding-left: 6px;
  font-size: 18px;
}

/*SKILLS*/

.skills-container{
  padding: 30px;
  background-color: #1A1A1A;
  color: #F5F8FF;
  position: relative;
}

.skills-container::before{
  content: '';
  background-color: #121212;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transform: skewY(-10deg);
}

@media only screen and (max-width: 576px){
  .skills-container{
    padding: 12px;
  }
  .more{
    color: #F5F8FF;
  }
}

.skills-container header{
  position: relative;
  padding: 0px 20px;
}

.skills-container header h2{
  margin-bottom: 10px;
  font-size: 35px;
}

.skills-box{
  padding: 20px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  justify-items: center;
}

@media only screen and (max-width: 768px) {
  .skills-box{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 382px) {
  .skills-box{
    grid-template-columns: repeat(2, 1fr);
  }
}

.skills-box li{
  margin: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  color: #F5F8FF;
}

.skills-box li img{
  height: 38px;
  margin-bottom: 8px;
}

/*CONTACT*/

.contact-container{
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #1A1A1A;
  color: #F5F8FF;
}

@media only screen and (max-width: 576px){
  .contact-container{
    padding: 12px;
  }
}

.contact-container header{
  padding: 0px 20px;
  position: relative;
}

.contact-container header h2{
  margin-bottom: 10px;
  font-size: 35px;
}

.contact-box{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-box h5{
  padding: 0px 20px;
  margin-bottom: 10px;
  font-size: 26px;
  color: #F5F8FF;
}

.social-box{
  padding: 14px;
  margin: 10px 0px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  outline: 1px solid #F5F8FF;
  border-radius: 5px;
}

.social-box a{
  padding: 6px;
  margin: 8px 12px;
  font-size: 34px;
  color: #F5F8FF;
  text-decoration: none;
  transition: 0.3s;
}

.social-box a:hover{
  color: #A0A0A0;
}

@media only screen and (max-width: 576px){
  .social-box{
    width: 80%;
  }
}

.form-box{
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 576px){
  .form-box{
    width: 100%;
  }
}

.form-box input{
  padding: 14px;
  margin: 10px 0px;
  width: 80%;
  font-size: 16px;
  border-radius: 5px;
  color: #F5F8FF;
  outline: 1px solid #F5F8FF;
  background-color: #1A1A1A;
  border: none;
}

.form-box input::placeholder{
  color: #AEAEAE;
}

.form-box input:focus{
  outline: none;
  outline: 1px solid #F5F8FF;
}

.form-box textarea{
  padding: 14px;
  margin: 10px 0px;
  width: 80%;
  font-size: 16px;
  border-radius: 5px;
  color: #F5F8FF;
  outline: 1px solid #F5F8FF;
  background-color: #1A1A1A;
  border: none;
  resize: none;
}

.form-box textarea::placeholder{
  color: #AEAEAE;
}

.form-box textarea:focus{
  outline: none;
  outline: 1px solid #F5F8FF;
}

.form-box button{
  padding: 14px;
  margin-top: 10px;
  width: 130px;
  font-size: 16px;
  background-color: #222222;
  color: #F5F8FF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.form-box button:hover{
  color: #F5F8FF;
  outline: 1px solid #F5F8FF;
}

.pop-up{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  font-size: 24px;
  background-color: #F5F8FF;
  box-shadow: 0px 6px 65px -20px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  position: fixed;
  z-index: 10;
}

.pop-up-off{
  display: none;
}

.pop-up p{
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.pop-up button{
  padding: 12px 25px;
  margin: 12px 10px 20px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #ef233c;
  color: #F5F8FF;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pop-up button:hover{
  background-color: #F5F8FF;
  outline: 1px solid #ef233c;
  color: #ef233c;
}

/*LINKS*/

#about{
  scroll-margin-top: 78px;
}

#experience{
  scroll-margin-top: 78px;
}

#projects{
  scroll-margin-top: 78px;
}

#skills{
  scroll-margin-top: 78px;
}

#contact{
  scroll-margin-top: 78px;
}