*{
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

/*SCROLLBAR*/

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
  background-color: #001948;
}

::-webkit-scrollbar-thumb{
  background: #ADADAD40;
  border-radius: 25px;
}

html{
  scroll-behavior: smooth;
}

/*CONTAINER*/

.container{
  background-color: #FFFFFF;
}

/*HEADER*/

.header-nav{
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 12px 0px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #001948;
  color: #F5F8FF;
}

.letter-logo{
  font-size: 24px;
  text-align: center;
  animation: logo 8s alternate infinite;
}

@keyframes logo{
  0%{
    color: #F46668;
  }
  16.66%{
    color: #ED8E4F;
  }
  33.32%{
    color: #FEFE15;
  }
  50%{
    color: #16B69B;
  }
  66.64%{
    color: #74DEFE;
  }
  83.3%{
    color: #3C94DC;
  }
  100%{
    color: #7D5F9E;
  }
}

.img-logo{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.img-logo img{
  width: 60px;
}

@media only screen and (max-width: 576px) {
  .img-logo h1{
    display: none;
  }
}

.nav-box{
  display: flex;
}

@media only screen and (max-width: 768px) {
  .nav-box{
    display: none;
  }
}

.link-nav{
  padding: 12px 15px;
  margin: 8px;
  font-size: 15px;
  color: #F5F8FF;
  text-decoration: none;
  transition: 0.3s;
}

.link-nav:hover{
  color: #008cff;
}

.resume{
  padding: 12px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 15px;
  background-color: #008cff;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}

.resume:hover{
  background-color: #001948;
  color: #008cff;
  outline: 1px solid #008cff;
}

.fa-bars{
  display: none;
  margin: 12px;
  padding: 12px;
  font-size: 25px;
  background: none;
  color: #008cff;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.fa-bars:hover{
  color: #F5F8FF;
}

@media only screen and (max-width: 768px) {
  .fa-bars{
    display: inline-block;
  }
}

/*MENU-MOBILE*/

.menu-container{
  height: calc(100% - 89px);
  width: 100%;
  left: -100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #001948;
  position: fixed;
  z-index: 9;
  transition: all 0.8s ease;
}

.menu-on{
  transition: all 0.8s ease;
  left: 0;
}

.menu-container ul{
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.menu-container ul li{
  list-style: none;
}

.menu-container ul li a{
  padding: 12px 20px;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link-menu{
  color: #F5F8FF;
}

.link-menu:hover{
  color: #008cff;
}

.menu-resume{
  background-color: #008cff;
  border-radius: 5px;
  color: #fff;
  transition: all 0.3s ease;
}

.menu-resume:hover{
  outline: 1px solid #008cff;
  background-color: #001948;
  color: #008cff;
}

/*I AM*/

.iam-container{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*background-color: #001e56;*/
  background-color: #001948;
  color: #F5F8FF;
}

@media only screen and (max-width: 576px){
  .iam-container{
    padding: 15px;
  }
}

.iam-box{
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 8;
}

.iam-box header h1{
  margin-bottom: 12px;
  font-size: 60px;
}

.iam-box header h2{
  margin-bottom: 10px;
  font-size: 45px;
}

.iam-box p{
  margin-bottom: 8px;
  font-size: 20px;
}

.iam-img{
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iam-img::after{
  content: '';
  position: absolute;
  border-radius: 62% 38% 39% 61% / 33% 42% 58% 67%;
  background-color: #008cff;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.iam-img img{
  margin: 10px;
  width: 350px;
  z-index: 7;
}

@media only screen and (max-width: 576px){
  .iam-img img{
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .iam-container{
    grid-template-columns: 100%;
  }
}

/*ABOUT*/

.about-container{
  padding: 30px;
  background-color: #001948;
  color: #F5F8FF;
}

@media only screen and (max-width: 576px){
  .about-container{
    padding: 15px;
  }
}

.about-container header{
  padding: 0px 20px;
}

.about-container header h2{
  margin-bottom: 10px;
  font-size: 35px;
}

.about-container p{
  padding: 20px;
  margin-bottom: 8px;
  font-size: 20px;
  position: relative;
  z-index: 2;
}

/*EXPERIENCE*/

.experience-container{
  padding: 30px;
  position: relative;
  background-color: #001948;
  color: #F5F8FF;
}

.experience-container::before{
  content: '';
  background-color: #008CFF;
  height: 90%;
  width: 100%;
  top: 10;
  left: 0;
  position: absolute;
  transform: skewY(10deg);
}

@media only screen and (max-width: 576px){
  .experience-container{
    padding: 15px;
  }
}

.experience-container header{
  padding: 0px 20px;
}

.experience-container header h2{
  margin-bottom: 10px;
  font-size: 35px;
}

.experience-box{
  padding: 20px;
}

.experience-box li{
  margin-bottom: 5px;
  padding: 10px 0px;
  list-style: none;
}

.experience-title{
  padding: 8px;
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  text-decoration: 1px #DADADA underline;
}

.experience-title:hover{
  text-decoration: 1.4px #DADADA underline;
}

.fa-medal{
  color: #FDFD15;
}

.fa-school{
  color: #ED8E4F;
}

.fa-motorcycle{
  color: #16B59A;
}

.experience-title span{
  font-size: 22px;
}

.experience-title h4{
  padding: 0px 12px;
  color: #F5F8FF;
  font-size: 22px;
}

.experience-title p{
  font-size: 18px;
  color: rgb(72, 72, 72);
}

.experience-details{
  margin-bottom: 8px;
  font-size: 20px;
}

.experience-details p a{
  color: #F5F8FF;
}

/*WORK*/

.work-container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #001948;
  color: #F5F8FF;
}

@media only screen and (max-width: 576px) {
  .work-container{
    padding: 15px;
  }
}

.work-container header{
  padding: 0px 20px;
}

.work-container header h2{
  margin-bottom: 10px;
  font-size: 35px;
}

.work-box{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
  z-index: 2;
}

@media only screen and (max-width: 768px) {
  .work-box{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .work-box{
    grid-template-columns: repeat(1, 1fr);
  }
}

.card{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 12px 35px -25px rgba(0, 0, 0, 0.42);
  background-color: rgba(0, 0, 0, 0.06);
  /*white-space: nowrap;
  overflow: hidden;*/ 
}

.card h5{
  margin-bottom: 10px;
  font-size: 22px;
  /*overflow: hidden;
  text-overflow: ellipsis;*/
}

.card p{
  margin-bottom: 12px;
  font-size: 18px;
  /*overflow: hidden;
  text-overflow: ellipsis;*/
}

.technologies{
  display: flex;
  margin-bottom: 10px;
}

.technologies li{
  list-style: none;
  margin: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.technologies li img{
  height: 18px;
}

.card-body{
  height: 200px;
  display: flex;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.card-body img{
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.card-link{
  display: flex;
  align-self: flex-end;
  margin-top: 5px;
  padding: 2px;
}

.card-link a{
  margin: 4px 6px;
  padding: 5px;
  font-size: 22px;
  text-decoration: none;
  color: #008cff;
  transition: 0.3s;
}

.card-link a:hover{
  color: #F5F8FF;
}

.more{
  margin: 10px;
  padding: 14px;
  display: flex;
  align-items: center;
  align-self: center;
  font-size: 16px;
  background-color: none;
  color: #008cff;
  border: 1px solid #008cff;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.more:hover{
  background-color: #008cff;
  color: #fff;
}

.more span{
  padding-left: 6px;
  font-size: 18px;
}

.img-project{
  width: 200px;
}

/*SKILLS*/

.skills-container{
  padding: 30px;
  background-color: #001948;
  color: #F5F8FF;
  position: relative;
}

.skills-container::before{
  content: '';
  background-color: #008CFF;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transform: skewY(-15deg);
}

@media only screen and (max-width: 576px){
  .skills-container{
    padding: 15px;
  }
}

.skills-container header{
  padding: 0px 20px;
}

.skills-container header h2{
  margin-bottom: 10px;
  font-size: 35px;
}

.skills-box{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: center;
  justify-items: center;
}

@media only screen and (max-width: 768px) {
  .skills-box{
    grid-template-columns: repeat(2, 1fr);
  }
}

.skills-box li{
  margin: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}

.skills-box li img{
  height: 38px;
  margin-bottom: 8px;
}

/*CONTACT*/

.contact-container{
  padding: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #001948;
  color: #F5F8FF;
}

@media only screen and (max-width: 576px){
  .contact-container{
    padding: 15px;
  }
}

.contact-container header{
  padding: 0px 20px;
}

.contact-container header h2{
  margin-bottom: 10px;
  font-size: 35px;
}

.contact-box{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-box h5{
  padding: 0px 20px;
  margin-bottom: 10px;
  font-size: 26px;
}

.social-box{
  padding: 14px;
  margin: 10px 0px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  outline: 1px solid #F5F8FF;
  border-radius: 5px;
}

@media only screen and (max-width: 576px){
  .social-box{
    width: auto;
  }
}

.social-box a{
  padding: 8px;
  margin: 8px;
  font-size: 34px;
  color: #008cff;
  text-decoration: none;
  transition: 0.3s;
}

#email:hover{
  color: #DE3F32;
}

#whatsapp:hover{
  color: #25D366;
}

#github:hover{
  color: #333;
}

#instagram:hover{
  color: #C13584;
}

#twitter:hover{
  color: #1DA1F2;
}

.form-box{
  padding: 20px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 576px){
  .form-box{
    width: 100%;
  }
}

.form-box input{
  padding: 14px;
  margin: 10px 0px;
  width: 80%;
  font-size: 16px;
  border-radius: 5px;
  color: #F5F8FF;
  outline: 1px solid #F5F8FF;
  background-color: #001948;
  border: none;
}

.form-box input::placeholder{
  color: #AEAEAE;
}

.form-box input:focus{
  outline: none;
  outline: 1px solid #F5F8FF;
}

.form-box textarea{
  padding: 14px;
  margin: 10px 0px;
  width: 80%;
  font-size: 16px;
  border-radius: 5px;
  color: #F5F8FF;
  outline: 1px solid #F5F8FF;
  background-color: #001948;
  border: none;
  resize: none;
}

.form-box textarea::placeholder{
  color: #AEAEAE;
}

.form-box textarea:focus{
  outline: none;
  outline: 1px solid #F5F8FF;
}

.form-box button{
  padding: 14px;
  margin: 10px 0px;
  width: 130px;
  font-size: 16px;
  background-color: #008cff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.form-box button:hover{
  background-color: #001948;
  color: #008cff;
  outline: 1px solid #008cff;
}

.pop-up{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 220px;
  font-size: 24px;
  background-color: #fff;
  box-shadow: 0px 6px 65px -20px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  position: fixed;
  z-index: 10;
}

.pop-up-off{
  display: none;
}

.pop-up p{
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.pop-up button{
  padding: 12px 25px;
  margin: 12px 10px 20px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  background-color: #ef233c;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pop-up button:hover{
  background-color: #fff;
  outline: 1px solid #ef233c;
  color: #ef233c;
}

/*LINKS*/

#about{
  scroll-margin-top: 78px;
}

#experience{
  scroll-margin-top: 78px;
}

#work{
  scroll-margin-top: 78px;
}

#skills{
  scroll-margin-top: 78px;
}

#contact{
  scroll-margin-top: 78px;
}