*{
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

html{
  scroll-behavior: smooth;
}

/*COONTENT CONTAINERS*/

.container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1A1A1A;
  color: #F5F8FF;
  scroll-margin-top: 78px;
}

.container header{
  padding: 0px 20px;
}

.container header h2{
  margin-bottom: 10px;
  font-size: 35px;
  position: relative;
}

@media (width <= 576px){
  .container{
    padding: 12px;
  }
}

/*HEADER*/

.header-nav{
  padding: 8px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 10px 0px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #121212;
}

@media (width <= 576px){
  .header-nav{
    padding: 8px 32px;
  }
}

.letter-logo{
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.letter-logo h1{
  font-size: 32px;
}

@media (width <= 768px){
  .letter-logo{
    font-size: 30px;
  }
}

.nav-box{
  display: flex;
}

@media (width <= 1140px) {
  .nav-box{
    display: none;
  }
}

.link-nav{
  padding: 12px 15px;
  margin: 10px;
  font-size: 15px;
  color: #F5F8FF;
  text-decoration: none;
  transition: 0.3s;
}

.link-nav:hover{
  color: #A0A0A0;
}

.link-ext{
  padding: 12px 20px;
  margin: 10px 0 10px 12px;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
  background-color: #222222;
  color: #F5F8FF;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.link-ext:hover{
  outline: 1px solid #AAA;
}

.fa-bars{
  display: none;
  margin: 8px 0 8px 8px;
  padding: 12px 20px;
  font-size: 25px;
  background: none;
  color: #F5F8FF;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.fa-bars:hover{
  color: #A0A0A0;
}

@media (width <= 1140px) {
  .fa-bars{
    display: inline-block;
  }
}

/*MENU-MOBILE*/

.nav-mobile-box{
  height: calc(100% - 74px);
  width: 100%;
  right: -100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1A1A1A;
  position: fixed;
  z-index: 9;
  transition: all 0.8s ease;
}

.nav-mobile-on{
  transition: all 0.8s ease;
  right: 0;
}

/*I AM*/

.iam-container{
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: #1A1A1A;
  color: #F5F8FF;
}

@media (width <= 576px){
  .iam-container{
    padding: 16px 12px;
  }
}

@media (width <= 960px) {
  .iam-container{
    grid-template-columns: repeat(1, 1fr);
  }
}

.iam-box{
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  z-index: 8;
}

.iam-box header h1{
  line-height: 1.2;
  margin-bottom: 16px;
  font-size: 60px;
}

.iam-box header h2{
  line-height: 1.2;
  margin-bottom: 12px;
  font-size: 42px;
  text-wrap: pretty;
}

.iam-box p{
  margin: 10px 0;
  font-size: 20px;
}

.social-box{
  padding: 15px 0;
  margin-bottom: 6px;
}

.social-box a{
  margin: 12px 24px 12px 0;
  font-size: 35px;
  color: #F5F8FF;
  text-decoration: none;
  transition: 0.3s;
}

.social-box a:hover{
  color: #A0A0A0;
}

.iam-img{
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.iam-img::after{
  content: '';
  position: absolute;
  border-radius: 54% 46% 38% 62% / 66% 55% 45% 34% ;
  background-color: #121212;
  height: 105%;
  width: calc(100% - 20px);
  z-index: 1;
}

.iam-img img{
  margin: 10px;
  width: 350px;
  aspect-ratio: 1/1;
  z-index: 7;
}

@media (width <= 576px){
  .iam-img img{
    width: 100%;
  }
}

/*ABOUT*/

.about-container{
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1A1A1A;
  color: #F5F8FF;
}

.about-container header{
  padding: 0px 20px;
}

.about-container header h2{
  margin-bottom: 10px;
  font-size: 35px;
}

#about div{
  padding: 20px;
  margin: 0 0 8px 0;
  position: relative;
  z-index: 2;
}

#about div p{
  max-width: 70ch;
  margin-bottom: 12px;
  font-size: 20px;
  text-wrap: pretty;
}

@media (width <= 576px){
  #about p{
    width: auto;
  }
}

/*EXPERIENCE*/

#experience::before{
  content: '';
  background-color: #121212;
  height: 90%;
  width: 100%;
  top: 5;
  left: 0;
  position: absolute;
  transform: skewY(5deg);
}

.experience-box{
  padding: 20px;
  position: relative;
}

.experience-box li{
  margin-bottom: 5px;
  padding: 10px 0px;
  list-style: none;
}

.experience-title{
  padding: 8px 0px;
  margin-bottom: 10px;
  width: fit-content;
  display: flex;
  align-items: baseline;
  text-decoration: none;
}

.experience-title:hover{
  text-decoration: 1px #F5F8FF underline;
}

.experience-title span{
  font-size: 22px;
}

.fa-leaf{
  color: #008000;
}

.fa-trophy{
  color: #E8B029;
}

.fa-users{
  color: #5287C5;
}

.fa-robot{
  color: #7242B9;
}

.fa-motorcycle{
  color: #0DBB33;
}

.fa-medal{
  color: #d90429;
}

.experience-title h4{
  margin: 0px 12px;
  color: #F5F8FF;
  font-size: 22px;
}

.experience-title p{
  font-size: 18px;
  color: #B4B4B4;
}

.experience-details{
  margin-bottom: 8px;
  font-size: 20px;
}

.experience-details p{
  max-width: 70ch;
}

.experience-details p a{
  color: #F5F8FF;
}

@media (width <= 576px){
  .experience-box{
    width: auto;
  }
}

/*PROJECTS*/

#web-projects::before{
  content: '';
  background-color: #121212;
  height: 80%;
  width: 100%;
  top: 5;
  left: 0;
  position: absolute;
  transform: skewY(-3deg);
}

#data-science-projects::before{
  content: '';
  background-color: #121212;
  height: 75%;
  width: 100%;
  top: 5;
  left: 0;
  position: absolute;
  transform: skewY(6deg);
}

.projects-box{
  max-width: 800px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  position: relative;
  z-index: 2;
}

@media (width <= 576px) {
  .projects-box{
    grid-template-columns: repeat(1, 1fr);
  }
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 12px 35px -25px rgba(0, 0, 0, 0.42);
}

.card:hover{
  outline: 1px solid rgba(255, 255, 255, 0.25);
}

.card-body{
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: #F5F8FF;
  text-decoration: none;
}

.card h5{
  margin-bottom: 10px;
  font-size: 22px;
}

.card p{
  line-height: 1.1;
  margin-bottom: 8px;
  font-size: 18px;
}

.description{
  padding-left: 15px;
  margin-bottom: 8px;
}

.description li{
  margin-bottom: 5px;
}

.technologies{
  display: flex;
  margin-bottom: 10px;
}

.technologies li{
  list-style: none;
  margin: 4px 12px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.technologies li img{
  height: 18px;
}

.card-img{
  aspect-ratio: 16/9;
  display: flex;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.card-img img{
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  object-position: top;
}

.card-link{
  display: flex;
  align-self: flex-end;
  padding: 0 15px 15px 0;
}

.card-link a{
  margin: 0 6px;
  padding: 5px;
  font-size: 22px;
  text-decoration: none;
  color: #F5F8FF;
  transition: 0.3s;
}

.card-link a:hover{
  color: #A0A0A0;
}

.more{
  margin: 10px;
  padding: 14px;
  display: flex;
  align-items: baseline;
  align-self: center;
  font-size: 16px;
  border-radius: 5px;
  text-decoration: none;
  outline: 1px solid #F5F8FF;
  color: #F5F8FF;
  background-color: none;
  transition: 0.3s;
  z-index: 2;
}

.more:hover{
  outline: 1px solid #B5B5B5;
  color: #B5B5B5;
}

.more span{
  padding-left: 10px;
  font-size: 18px;
}

/*SKILLS*/

.skills-box{
  padding: 20px;
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
}

@media (width <= 576px){
  .skills-box{
    grid-template-columns: repeat(1, 1fr);
  }
}

.skills-box div{
  padding: 15px;
  width: calc(100% - 30px);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  outline: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 12px 35px -25px rgba(0, 0, 0, 0.42);
}

.skills-box div h4{
  font-size: 22px;
  margin-bottom: 10px;
}

.skills-box div ul{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-box li{
  margin: 15px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  color: #F5F8FF;
}

.skills-box li img{
  height: 38px;
  max-width: 48px;
  object-fit: contain;
  margin-bottom: 8px;
}